.container {
    background-color: rgb(10, 245, 245);
    padding-left: 5%;
  }
  
  
  .rowTop {
    display: float;
    width: 100%;
    overflow: hidden;
    height: 120px;
  }
  
  
  .h1 {
    animation: scale-down 4s infinite;
    animation-delay: 5s;
    position: relative;
    left: 0;
    top: 15px;
    border-radius: 15%;
    float: left;
    width: 100px;
    margin: 10px;
  }
  
  .h1>img {
    width: 100%;
  }
  
  .h2 {
    width: 70%;
    font-size: medium;
    float: left;
  }
  
  .h2 h1 {
    animation: move-up 10s infinite step-start;
   
    color: rgb(63, 17, 6);
  }
  
  .h2 h4 {
    animation: move-down 10s infinite alternate;
    animation-delay: 1s;
    color: rgb(2, 2, 2);
  }
  
  
  @keyframes scale-down {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(.5);
    }
  }
  
  
  @keyframes move-up {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes move-down {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .rowText {
    width: 100%;
    height: 55px;
    background-color: #605872;
    display: float;
    overflow: hidden;
  }
  
  .h1text {
    width: 100%;
    float: left;
    background-color: rgb(152, 168, 59);
  }
  
  .textbg {
    text-align: center;
  }
  
  .text::before {
    content: "$5.99 INTO THE NIGHT BODY CARE";
    animation: animate infinite 6s;
    padding-left: 10px;
    animation-timing-function: ease-in-out;
    font-size: larger;
  }
  
  @keyframes animate {
  
    0% {
      content: "$5.99 INTO THE NIGHT BODY CARE";
      color: rgb(96, 18, 93);
    }
  
    50% {
      content: "$7.50 Organic rice milk body cream";
      color: rgb(13, 113, 51);
    }
  
    100% {
      content: "$7.50 Himalaya Honey Body Cream";
      color: rgb(97, 8, 85);
    }
  }
  
  .topPicimage {
    height: 500px;
    overflow: hidden;
  }
  
  .topPic>img {
    max-width: 100%;
    width: 100%;
    height: 500px
  }
  
  .topPic>p {
    color: white;
    position: relative;
    top: -400px;
    left: 20px;
    margin-inline: 5% 10%;
    margin-inline-start: 50px;
    margin-inline-end: 200px;
    padding: 3%;
    border: 2px solid rgb(43, 37, 37);
    background-color: rgb(61, 57, 71);
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
  }
  
  .midPicimage {
    display: grid;
    grid-template-columns: 45% 45%;
    height: 300px;
    grid-column-gap: 5%;
  }
  
  .midPic {
    width: 100%;
    max-width: 100%;
  }
  
  .midPic>img {
  
    opacity: .7;
    width: 90%;
    position: relative;
    top: 20px;
    left: 20px;
    max-width: 100%;
    height: 280px;
  }
  
  .midPic img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(38, 31, 124, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    
  }
  
  .midPic > p {
    color:black;
    position: relative;
    top: -250px;
    left: 10px;
    margin-inline: 10% 5%;
    margin-inline-start: 50px;
    margin-inline-end: 200px;
    font-size: medium;
    max-width: 200px;
    max-height: 100px;
    padding: 3%;
    border: 2px solid rgb(17, 192, 1);
    opacity: .7;
    overflow: hidden;
    background-image: linear-gradient(45deg, #7a7985, #e913cc);
  }
   
  
  
  .floatleft {
    width: 100%;
    overflow: hidden;
  
  }
  
  .floatright {
    width: 90%;
    height: 245px;
    position: relative;
    top: 20px;
    right: 20px;
    background-color: #22a87b;
    border: 2px solid rgba(0, 0, 0, 0);
    opacity: .7;
    padding-left: 40px; 
    padding-top: 30px; 
    padding-right: 40px;
    color: grey;
    background-image: linear-gradient(45deg, #020202, #40174d);
  
  }
  
  .productTitle {
    color:rgb(226, 9, 63)
  }
  
  .productName {
    font-weight: bold;
  }
  
  .productDescription{
    font-size: small;
  
  }
  
  .productPriceSale {
    color: rgb(31, 29, 29);
    padding-bottom: 10px;
  }
  
  .productPrice {
  
    padding-bottom: 10px;
  }
  
  
  .keyitems {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-column-gap: 50px;
  
  }
  
  .select-items{
    border-radius: 5%;
    text-align: center;
  }
  
  .select-items > img {
    width: 80%;
    position: relative;
    font-size: large;
  }
  
  
  .select-items>a{
    font-size: large;
    border-radius: 15%;
    background-color: rgb(20, 19, 19);
    color: white;
  }
  
  
  
  .modalbackground{
    background-color: rgba(227, 240, 227, 0.7);
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  h2 {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    text-align: left;
    background-color: #ffffff;
    background: rgb(107, 4, 19);
    position: relative;
    top: -20px;
    
  }
  
  .orangebg {
    background-color: rgb(136, 99, 40);
  }
  
  .bluebg {
    background-color: rgb(102, 107, 109);
  }
  
  
  .modal-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(3, 7, 245, 0.872);
    background-color: white;
    
  }
  
  .modal-info img {
    max-width: 80%;
    margin-bottom: 20px;
  }
  
  .modal-info p {
    background-color: #f1f0f5;
    padding: 1px 40px;
    text-align: left;
    font-size: small;
  
  }
  
  .modal-wrapper:target {
    display: block;
  }
  
  .modal-grid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 50px;
  
  }
  
  .modal-grid-item {
    border-radius: 5%;
    text-align: center;
  }
  
  .modal-grid-item > img {
    width: 70%;
    position: relative;
    font-size: medium;
  }
  
  .modal-title{
    padding-left: 45px;
    height: 20px;
  }
  
  
  .modal-title > a{
    position: relative;
    left: 437px;
    top:-60px;
    background:silver;
    font-size: x-large;
  }
  
  .modal-bottom{
    background-color: grey;
    height: 155px;
  
  }
  
  .modal-bottom > p{
    background-color: rgb(121, 25, 25);
  
  }
  
  .modal-btn{
    padding: 10px 20px;
    border-radius: 5%;
    border: 2px solid rgb(10, 2, 2);
    background-color: rgb(177, 25, 25);
    color: black;
    position: relative;
    top: 15px;
    left: 40px;
  
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .column {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
  }
  
  
  @media only screen and (min-width: 768px) {
    .column {
        width: calc(60% - 10px);
        margin-bottom: 0;
    }
    .row::after {
        display: none;
    }
  }
  
  .btn{
    padding: 10px 20px;
    border-radius: 5%;
    border: 2px solid white;
    background-color: black;
    opacity: 1;
  
  }
  
  
  .btn:hover  {
    background-color: rgb(121, 118, 155);
    content: "Add to Shopping Cart";
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(206, 19, 19);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #7a2b2b;
    color: #1f1d1d;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -50px;
    right: 2px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  
  .addCart::before {
    content: "before";
    background-color: #444;
  }
  
  .addCart:hover, addCart:hover span{
    content: "hover test";
    background-color: #a09a9a;
    display: none;
  }

  
  #icon{
      width: 10%;
  }
  
  .footerSection{
    background-color: rgb(214, 198, 223);
        width: 50%;
        height: 110px;
        display: flex;
        flex-direction: column;
        padding: 2px;
        position: relative;
        z-index: auto;
    }
    .footerSection {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    footer div div{
        width: 50%;
        color: rgb(172, 16, 16);
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }
    footer div p {
        font-size: 15px;
    }
  
 
  
  .menuColumn{
    width: 25%;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    left: -22px;
  }
  .menuDescription{
    color: rgb(116, 14, 14);
    font-size: x-small;
    margin: 0;
  }
  
  .socialDescription{
    width: 100%;
    color: rgb(119, 16, 16);
    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px;
  }
  
  .socialDescription > p{
    padding-right: 25px;
  }
  
  .socialMedia {
    width: 95%;
    height: 85px;
  }
  
  .socialMedia > a >img {
    display: float;
    float: right;
    width: 25px;
    padding: 5px;
  }
  
  .socialMedia > a > img:hover{
    background-color: rgb(22, 21, 20);
  }
  
  .footer{
      display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      text-emphasis: initial;
      font-size: x-small;
      width: 80%;
      color: rgb(140, 21, 219);
      
  }
  
  .footer:hover{
  color: rgb(167, 39, 39);
  font-size: medium;
  }
  